{% extends "layout.html" %}

{% block body %}
    <div class="wrapper">
    {% for index, row in name.iterrows() %}
        <div class="weather_box">
            <h2>Time:</h2>
            <h1> {{ row['date'].hour }}:00</h1>
            <h2>Weather:</h2>
            <h1> {{ row.weather }}</h1>
            <h2>Temp [Celsius]:</h2>
            <h1> {{ row['temperature_2m'] }}</h1>
            <h2>Wind speed [Mph]:</h2>
            <h1> {{ row['wind_speed_10m'] }} </h1>
        </div>
    {% endfor %}
    </div>
{% endblock %}
